# -----------------------------------------------------------------------------
# Copyright 2025 Soft Cannery LTD.
# Licensed under the Camunda Platform Accelerator for Form.io Community License v1.0
# 
# See the LICENSE file in the project root for more details.
# -----------------------------------------------------------------------------
config
